/* .footer{border: 1px solid red;
background-color: rgb(225, 223, 223);
} */
.end{
  width: 100%;
  /* border: 1px solid gray; */
  height: 400px;
  margin-top: 70px;
  display: flex;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 23px;
  color:  #6f6f72 ;
  background-color:#f4f4f4;
}
.end h3{
  margin-top: 30px;
  margin-bottom: 30px;
}
.end p:hover{
  color: black;
}
.e1{
  padding-left: 240px;
}
.e2,.e3{
  padding-left: 60px;
}

.image{
  width: 100%;
  margin-top: 100px;
  margin-bottom: 10px;

}
.sliderimg{
  width: 100%;
  height: 500px;
  border: 2px dotted black;
}
/* product page css */

.one{
  margin-top: 200px;
}
.showdiv{
  /* display: flex; */
  margin-left: 2%;
  margin-right: 2%;
  color: #000;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  margin-top: 2%;
  height: 500px;
  transition: 0.5s;
  /* border: 1px solid rgb(142, 137, 142); */
  overflow: hidden;
}

.img1{
  width: 100%;
  height: 200%;
  /* text-align: center;
  justify-content: center;
  margin: auto; */
}

.productdiv{
  margin-top: 10px;
  display: grid;
  margin-left: 2%;
  grid-template-columns: repeat(3,1fr);
 
}

@media screen and (max-width: 480px) {
  .productdiv{
      display: grid;
  grid-template-columns: repeat(1,1fr);
  }
  /* #main {margin-left: 216px;} */
}
@media screen and (min-width:440px ) and
 ( max-width: 1100px) {
  .productdiv{
      display: grid;
  grid-template-columns: repeat(2,1fr);
  }
  /* #main {margin-left: 216px;} */
}

.showdiv1{
    width: 100%;
    height: 50%;
    color: #000;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* border: 1px solid red; */
}
.price{
    margin-right: 80%;
}
.offerbutton{
    padding: 10px;
    border-radius: 5% ;
    font-size: 20px;
    color: white;
    background-color: black;
}
.nameprice{
    /* background-color: black; */
    width: 100%;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* height: 35%; */
    font-size: large;
    font-weight: 400;
    margin-left: 20px;
    margin-top: 100px;
    /* margin-right: 20px; */
    /* padding: 20px; */
}
.name{
  font-size: large;
  font-weight: bolder;
    color: black;
    font-size: 15px;
}
.price{
    color: black;;
    font-size: 20px
}
.pricedivbutton{
    display: flex;
    /* border: 1px solid green; */
  
}
.pricediv{
    width: 80%;
    /* border: 1px solid red; */
}
.addtocartbutton{
    width: 60%;
    /* align-content: center; */
}
/* .cartbutton{
    margin-top: 10%;
    margin-left: 50%;
} */


/* CSS */
.button-59 {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:focus {
  color: #171e29;
}

.button-59:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.button-59:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}



/* CSS */
.button-62 {
    margin-top: 5%;
  background: linear-gradient(to bottom right, #af47ef, #5ae4ff);
  border: 0;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  margin-left: 10px;
}

.button-62:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}
.input1{
  
    color: black;
    height: 22px;
     /* color: #fff; */
    outline: none;
    border: none;

}
.product_search_icon_div{
  /* border: 1px solid red; */
  color: black;
  height:28px;
display: flex;
background-color: #fff;
border: 1px solid black;
width: 200px;
margin-left: 20px;
/* align-items: center;
justify-content: center;
margin: auto; */
 
}
.productdetail1{
  display: flex;
  margin-left: 5%;
  margin-right: 5%;
 
}
.productdetail4{
  width: 40%;
  height: 700px;
  justify-content: center;
  align-items: center;
  margin: auto;
  /* border: 1px solid red; */
}
.productdetail2{
  width: 100%;
  height: 550px;
  /* justify-content: center;
  align-items: center;
  margin: auto; */
  padding: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.imagedetail{
  width: 100%;
  height: 550px
}
.productdetail3{
  display: flex;
   justify-content: space-between; 
}
.cart{
  padding: 15px 20px 15px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  margin-top: 10%;
  background-color: #68d9f9;
  border: none;
  margin-right: 10%;
}
.buynow{
  padding: 15px 20px 15px 20px;
  font-size: 17px;
  font-weight: bold;
  color: white;
  background-color: rgb(75, 240, 57);
  border: none;
  margin-top: 10%;
 
}
.productdetail5{
  width: 50%;
  margin-left: 5%;
  /* border: 2px solid red; */
  padding: 50px;
}
.productdetailname{
  font-size: 30px;
  
}
.productdetail5 span{
  color: #000;
  text-decoration: underline;
}

/* ------------cart css ------------------------- */
.cartpagemaindiv{
  /* float: left; */
  display:flex;
  width: 100%;
  height: 200px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
 }
 .cart-imagediv{
  width: 180px;
  height: 200px;

 }
 .cart-image{
  width: 100%;
  height: 100%;
 }
 .cartpricedeletediv{
     width:40% ;
     height: 100%;
     margin-left: 5%;
     /* border: 1px solid green; */
 }
 .cartprice{
     font-size: 16px;
     font-style: oblique;
     font-weight: 500;
 }
 .incerment-button-div{
     display:flex
 }
 .incrementbuttondiv{
     margin-left: 1%;
     margin-right: 1%;
 
 }
 .decrementbuttondiv{
     margin-left: 1%;
     margin-right: 1%;
 }
 .incrementbutton{
     font-size: 20px;
     color: white;
     background-color: black;
 }
 .decrementbutton{
     font-size: 20px;
     color: white;
     background-color: black;
 }
 .cartp{
     display: flex;
     gap: 10px;
 }
 .cartp1{
     margin-right: 10px;
 }
 .cartp2{
     margin-right: 10px;
     border-radius: 50%;
     /* background-color: gold; */
 }
 .cartp3{
     margin-right: 10px;
 }
 .cartp1p{
     
     font-size: 20px;
 }
 .cartp2p{
     /* border-radius: 50%; */
     font-size: 20px;
     color: green;
     font-weight: bold;
 }
 .cartp3p{
     color: rgb(246, 115, 98);
     font-style: italic;
     font-family: sans-serif;
     font-size: 28px;
     font-family: 'Times New Roman', Times, serif;
 }
 .cartp3p:hover{
 color: rgb(125, 240, 121);
 }
 .remove{
     margin-right: 100%;
 }
 .cartpricediv{
     text-align: start;
 }
 .buttonforcheckout{
     display: flex;
     gap: 20px;
     color: #FFFFFF;
 }
 .buttonforcheckout button{
   background-color: #000;
   color: whitesmoke;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
 }
 .buttonforcheckout button:hover{
   color: rgb(92, 255, 47);
   background-color: rgb(172, 114, 249);
   border: none;
 }

 /* ---------------checkoutcss---------- */

 body {
  font-family: 'Roboto', sans-serif!important;
margin:0;
padding:0;
box-sizing: border-box;
}

.mainscreen
{
min-height: 100vh;
width: 100%;
display: flex;
  flex-direction: column;
  background-color: #DFDBE5;
  background-image: url("https://wallpaperaccess.com/full/3063067.png");
  color:#963E7B;
}

.card {
width: 60rem;
  margin: auto;
  background: white;
  position:center;
  align-self: center;
  top: 50rem;
  border-radius: 1.5rem;
  box-shadow: 4px 3px 20px #3535358c;
  display:flex;
  flex-direction: row;
  
}

.leftside {
background: #030303;
width: 25rem;
display: inline-flex;
  align-items: center;
  justify-content: center;
border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.product {
  object-fit: cover;
width: 20em;
  height: 20em;
  border-radius: 100%;
}

.rightside {
  background-color: #ffffff;
width: 35rem;
border-bottom-right-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  padding: 1rem 2rem 3rem 3rem;
}

p{
  display:block;
  font-size: 1.1rem;
  font-weight: 400;
  margin: .8rem 0;
}

.inputbox
{
  color:#030303;
width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1.5px solid #ccc;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
  font-family: 'Roboto', sans-serif;
  color: #615a5a;
  font-size: 1.1rem;
  font-weight: 500;
outline:none;
}

.expcvv {
  display:flex;
  justify-content: space-between;
  padding-top: 0.6rem;
}

.expcvv_text{
  padding-right: 1rem;
}
.expcvv_text2{
  padding:0 1rem;
}

.button{
  background: linear-gradient(
135deg
, #753370 0%, #298096 100%);
  padding: 15px;
  border: none;
  border-radius: 50px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  margin-top: 10px;
  width:100%;
  letter-spacing: .11rem;
  outline:none;
}

.button:hover
{
transform: scale(1.05) translateY(-3px);
  box-shadow: 3px 3px 6px #38373785;
}

@media only screen and (max-width: 1000px) {
  .card{
      flex-direction: column;
      width: auto;
    
  }

  .leftside{
      width: 100%;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
    border-top-right-radius:0;
    border-radius:0;
  }

  .rightside{
      width:auto;
      border-bottom-left-radius: 1.5rem;
      padding:0.5rem 3rem 3rem 2rem;
    border-radius:0;
  }
}

/* ----------------------signup---------------------- */
/* * {
  box-sizing: border-box;
} */

.signup_page_body{
  box-sizing: border-box;
  /* background-color: #0f0f0f; */
  font-family: "Open Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  width: 400px;
  max-width: 100%;
}

.header {
  border-bottom: 1px solid #f0f0f0;
  background-color: #f7f7f7;
  padding: 20px 40px;
}

.header h2 {
  margin: 0;
}

.form {
  padding: 30px 40px;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
}

.form-control input {
  border: 2px solid #f0f0f0;
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}

.form-control input:focus {
  outline: 0;
  border-color: #777;
}

.form-control.success input {
  border-color: #2ecc71;
}

.form-control.error input {
  border-color: #e74c3c;
}

.form-control i {
  visibility: hidden;
  position: absolute;
  top: 40px;
  right: 10px;
}

.form-control.success i.fa-check-circle {
  color: #2ecc71;
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  color: #e74c3c;
  visibility: visible;
}

.form-control small {
  color: #e74c3c;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.form-control.error small {
  visibility: visible;
}

.form button {
  background-color: #8e44ad;
  border: 2px solid #8e44ad;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  margin-top: 20px;
  width: 100%;
}

/* --------------------------success--------------------- */
.sucess_box{
  /* border: 1px solid red; */
  height: 1000px;
  width: 100%;
  align-items: center;
justify-content: center;

overflow: hidden;
background-repeat: no-repeat;
background-size: cover;
background-image: url('https://images.pexels.com/photos/302743/pexels-photo-302743.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');
}
/* .sucess_box>img{
  width: 100%;
  height: 100%;
} */
.sucess_box>div{
text-align: center;
margin: auto;
padding: 20px;
justify-content: center;
align-items: center;
/* border: 1px solid green; */
width: 800px;
color: whitesmoke;
}
.sucess_image {
 width: 100%;
 
}
.sucess_payment{
justify-content:center;
/* margin-left: 38%; */
padding: 10px;
color: #FFFFFF;
background-color: #06f;
border-radius: 5px;
cursor: pointer;
/* margin-left: 40%; */
}
.sucess_payment:hover{
 
border: none;
color: green;
background-color: turquoise;
}
